.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.cyan {
  color: cyan;
}

.lime {
  color: lime;
}

.magenta {
  color: magenta;
}

h1 {
  margin: 20px;
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
  margin: 0;
}

.what {
  font-size: 2em;
  margin: 50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
